@charset "UTF-8";
/* ========================================================================= */
/* !RESETS AND DEFAULTS */
/* ========================================================================= */
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, img, ins, kbd, q, samp, var, hr, acronym, dl, dt, dd, ol, ul, li, pre, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { border: 0; outline: 0; font-style: normal; font-weight: 400; font-size: 100%; vertical-align: baseline; margin: 0; padding: 0; -webkit-text-size-adjust: 100%; }

em, strong, b, i, a, span, sub, sup, small { border: 0; outline: 0; font-size: 100%; vertical-align: baseline; margin: 0; padding: 0; }

a:focus { outline: 0; }

:focus, :active { outline: none; outline: 0; }

::-moz-focus-inner { outline: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

li { list-style: none; }

a { text-decoration: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border-top: 1px solid #000; color: #000; }

input, select { vertical-align: middle; }

sub { vertical-align: sub; font-size: smaller; line-height: 0px; }

sup { vertical-align: super; font-size: smaller; line-height: 0px; }

input, button, textarea, select, label, img { display: inline-block; }

input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }

input, button, textarea, select { -webkit-appearance: none; }

textarea { resize: none; }

button, a span { cursor: pointer; }

button { border: 0; text-align: center; }

button::-moz-focus-inner { padding: 0; border: 0; }

table { table-layout: fixed; }

a[href^=tel] { color: inherit; }

#no_ie6 { width: 100%; height: 40px; overflow: hidden; border-bottom: 2px solid #000; }

/* != FONT SMOOTHING */
body, input, button, textarea { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

*, *:before, *:after { box-sizing: border-box; }

/* != .clearfix - CLEAR ELEMENTS */
.clear { clear: both; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

.clearfix { display: inline-table; }

* html .clearfix { height: 1%; }

/* Hides from IE-mac \*/
.clearfix { display: block; }

/* Hides from IE-mac \*/
* html .clearfix { zoom: 1; }

/* IE6 */
*:first-child + html .clearfix { zoom: 1; }

/* IE7 */
/* != .wordwrap - CONTINUE LONG URLS/WORDS ON NEXT LINE */
.wordwrap { white-space: pre; white-space: pre-wrap; white-space: pre-line; white-space: -pre-wrap; white-space: -o-pre-wrap; white-space: -moz-pre-wrap; word-wrap: break-word; }

/* ========================================================================= */
/* !FONTS (@fontface generated with FontSpring Syntax formatting */
/* ========================================================================= */
@font-face { font-family: "jack-social"; src: url("../fonts/JackSocial/jack-social.eot"); src: url("../fonts/JackSocial/jack-social.eot?#iefix") format("embedded-opentype"), url("../fonts/JackSocial/jack-social.ttf") format("truetype"), url("../fonts/JackSocial/jack-social.woff") format("woff"), url("../fonts/JackSocial/jack-social.svg#jack-social") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: '3ds'; src: url("../fonts/3ds/3ds_regular.eot"); src: url("../fonts/3ds/3ds_regular.eot?#iefix") format("embedded-opentype"), url("../fonts/3ds/3ds_regular.woff2") format("woff2"), url("../fonts/3ds/3ds_regular.woff") format("woff"), url("../fonts/3ds/3ds_regular.ttf") format("truetype"), url("../fonts/3ds/3ds_regular.svg#3ds_regular") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: '3ds'; src: url("../fonts/3ds/3ds_light.eot"); src: url("../fonts/3ds/3ds_light.eot?#iefix") format("embedded-opentype"), url("../fonts/3ds/3ds_light.woff2") format("woff2"), url("../fonts/3ds/3ds_light.woff") format("woff"), url("../fonts/3ds/3ds_light.ttf") format("truetype"), url("../fonts/3ds/3ds_light.svg#3ds_light") format("svg"); font-weight: 300; font-style: normal; }
@font-face { font-family: '3ds'; src: url("../fonts/3ds/3ds_semibold.eot"); src: url("../fonts/3ds/3ds_semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/3ds/3ds_semibold.woff2") format("woff2"), url("../fonts/3ds/3ds_semibold.woff") format("woff"), url("../fonts/3ds/3ds_semibold.ttf") format("truetype"), url("../fonts/3ds/3ds_semibold.svg#3ds_semibold") format("svg"); font-weight: 600; font-style: normal; }
@font-face { font-family: '3ds'; src: url("../fonts/3ds/3ds_bold.eot"); src: url("../fonts/3ds/3ds_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/3ds/3ds_bold.woff2") format("woff2"), url("../fonts/3ds/3ds_bold.woff") format("woff"), url("../fonts/3ds/3ds_bold.ttf") format("truetype"), url("../fonts/3ds/3ds_bold.svg#3ds_bold") format("svg"); font-weight: bold; font-style: normal; }
/* ========================================================================= */
/* !SASS VARIABLES & MIXINS */
/* ========================================================================= */
/* ========================================================================= */
/* !STYLES */
/* ========================================================================= */
/* != SELECTION STYLES (Leaving these blank will show no indication of text selection) ===== */
/* ::selection         { background: #aaa; color: #fff; } ::-moz-selection    { background: #aaa; color: #fff; } ::-webkit-selection { background: #aaa; color: #fff; }
*/
/* != ICON FONT DECLARATION ===== */
[data-icon]:before { font-family: "jack-social"; content: attr(data-icon); font-style: normal; font-weight: normal; font-variant: normal; text-transform: none !important; speak: none; display: inline-block; text-decoration: none; width: 1em; line-height: 1em; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

[class^="social-"]:before, [class*=" social-"]:before { font-family: "jack-social"; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none !important; speak: none; display: inline-block; text-decoration: none; width: 1em; line-height: 1em; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.social-email:before { content: "a"; }

.social-email-round:before { content: "A"; }

.social-facebook:before { content: "f"; }

.social-facebook-round:before { content: "F"; }

.social-flickr:before { content: "c"; }

.social-flickr-round:before { content: "C"; }

.social-googleplus:before { content: "g"; }

.social-googleplus-round:before { content: "G"; }

.social-instagram:before { content: "i"; }

.social-instagram-round:before { content: "I"; }

.social-linkedin:before { content: "l"; }

.social-linkedin-round:before { content: "L"; }

.social-pinterest:before { content: "p"; }

.social-pinterest-round:before { content: "P"; }

.social-rss:before { content: "r"; }

.social-rss-round:before { content: "R"; }

.social-sharethis:before { content: "s"; }

.social-sharethis-round:before { content: "S"; }

.social-twitter:before { content: "t"; }

.social-twitter-round:before { content: "T"; }

.social-vimeo:before { content: "v"; }

.social-vimeo-round:before { content: "V"; }

.social-yelp:before { content: "x"; }

.social-yelp-round:before { content: "X"; }

.social-youtube:before { content: "y"; }

.social-youtube-round:before { content: "Y"; }

.social-youtube2:before { content: "u"; }

.social-youtube2-round:before { content: "U"; }

/* != DEFAULT WORDPRESS STYLES = USE AS NEEDED = .wp-caption = .wp-caption-dd = .wpGallery = .shutter = .shutterset ==== */
.aligncenter { display: block; margin: 25px auto; }

.alignleft { float: left; margin: 0 25px 25px 0; }

.alignright { float: right; margin: 0 0 25px 25px; }

.alignnone { display: inline-block; }

/* != LAYOUT STYLES ===== */
h1 { font: normal 24px/1.2 sans-serif; color: #f00; }

h2 { font: normal 24px/1.2 sans-serif; color: #f00; }

h3 { font: normal 24px/1.2 sans-serif; color: #f00; }

h4 { font: normal 24px/1.2 sans-serif; color: #f00; }

h5 { font: normal 24px/1.2 sans-serif; color: #f00; }

h6 { font: normal 24px/1.2 sans-serif; color: #f00; }

.content-main ul li { position: relative; padding-left: 10px; }

.content-main ul li:before { content: '•'; position: absolute; left: 0; }

.content-main ol { counter-reset: li; }

.content-main ol li { position: relative; padding-left: 20px; }

.content-main ol li:before { content: counter(li) ". "; counter-increment: li; position: absolute; left: 0; }

.wrap { width: 1200px; box-sizing: border-box; margin: 0 auto; max-width: 100%; padding: 0 30px; }

.btn { display: inline-block; padding: 0 29px; font: 600 15px/36px '3ds'; color: #fff; border-radius: 90px; margin: 26px 0 0 0; }
.btn.red { background: #E55758; border: 2px solid #E55758; }
.btn.clear { border: 2px solid #fff; }
.btn .arrow-left { display: inline-block; border: 6px solid transparent; border-left: 9px solid #fff; border-right-width: 0; position: relative; top: 1px; }
.btn + .btn { margin-left: 5px; }

#banner { height: 700px; background: black url(http://www.placeimg.com/1200/700) no-repeat center center/cover; position: relative; }
#banner #text { padding-left: 40%; position: absolute; bottom: 105px; left: 50%; margin-left: -600px; text-align: center; }
#banner #text h2 { font: 600 64px/1 '3ds'; color: #fff; text-shadow: 0 9px 12px rgba(0, 0, 0, 0.4); margin-bottom: 18px; }
#banner #text p { font: 18px/1.4 '3ds'; color: #fff; padding: 0 60px; }

#white { padding-top: 45px; width: 900px; text-align: center; }
#white h2 { font: 300 36px/1 '3ds'; color: #3E9DD1; max-width: 640px; margin: 0 auto; }
#white p { font: 16px/1.625 '3ds'; color: #7E7E7E; max-width: 560px; margin: 20px auto; }
#white #icons { font-size: 0; padding: 30px 0 40px; }
#white #icons li { width: 15.6%; margin: 0 0.5%; height: 125px; display: inline-block; vertical-align: top; text-align: center; font: 600 17px/1 '3ds'; color: #888888; border-radius: 7px; box-shadow: inset 0 0 0 2px #C6C6C6; position: relative; cursor: pointer; }
#white #icons li:before { content: ''; width: 100%; height: 100%; background: #fff; display: block; position: absolute; top: 0; left: 0; transition: height 0.2s ease-out; z-index: 0; height: 125px; }
#white #icons li span { display: block; height: 60px; margin: 15px 0 12px; }
#white #icons li.active:before { height: 0px; }
#white #icons li.active:after { content: ''; display: block; margin: 0 auto; width: 0; height: 0; border: 17px solid transparent; border-top: 12px solid #C6C6C6; }
#white #icons li p { position: relative; z-index: 2; }

#orange { background: #FFA348; padding: 90px 0; }
#orange h2 { font: 600 50px/1 '3ds'; color: #fff; margin-bottom: 20px; }
#orange p { font: 17px/1.625 '3ds'; color: #fff; width: 37%; }

#form { padding: 60px 0 120px; }
#form h2 { font: 300 44px/1 '3ds'; color: #E55758; text-align: center; margin-bottom: 26px; }
#form p { text-align: center; width: 570px; margin: 0 auto; font: 16px/1.625 '3ds'; color: #7E7E7E; }

#form1 { width: 770px; margin: 40px auto 0; text-align: center; }
#form1 .hide, #form1 label { display: none; }
#form1 li { display: inline-block; width: 31.2%; }
#form1 li#foli3 { margin: 0 1%; }
#form1 li input, #form1 li div { width: 100%; display: block; }
#form1 li input.field { padding: 0 20px; height: 43px; border-radius: 7px; border: 2px solid #C6C6C6; font: 16px/43px '3ds'; color: #3E9DD1; }
#form1 li .buttons { text-align: center; }
#form1 li .btn { font-size: 17px; padding: 0 50px; width: auto; display: inline-block; }

/* != PLACEHOLDER ATTRIBUTE STYLES = input or textarea - placeholder="whatever" ===== */
/* ::-webkit-input-placeholder { color: #aaa; } :-moz-placeholder           { color: #aaa; }
*/
form ul { margin: 0; }
form ul li { background: none; list-style: none; }
form ul li div { display: inline-block; vertical-align: top; }

input[type=submit], button { display: inline-block; cursor: pointer; }

/* ========================================================================= */
/* !MEDIA QUERIES */
/* ========================================================================= */
/* @media screen and (max-width: XXXpx) {  } */
